

body {
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.75) 0%, rgba(255, 0, 255, 0.5) 50%, rgba(254, 180, 15, 0.75) 100%);
    height: 99vh;
    width: 99vw;
}

/* HEIGHTS N WIDTHS */
.th-mw {
    min-width: 300px;
}

.th-xw {
    max-width: 300px;
}

.f-w {
    width: 99%;
}

.tw-vw {
    width: 20vw;
}

.th-vw {
    width: 30vw;
}

.nn-vw {
    width: 99vw;
}

.th-h {
    height: 10%;
}

.tw-h {
    height: 20%;
}


.fty-h {
    height: 50%;
}

.sxs-h {
    height: 66%;
}

.nty-h {
    height: 90%;
}

.nn-h {
    height: 99%;
}
.h-h {
    height: 100%;
}

.fry-h {
    height: 40px;
}

.ten-vh {
    height: 10vh;
}

.fty-vh {
    height: 50vh;
}

.egh-vh {
    height: 80vh;
}

.nn-vh {
    width: 99vh;
}

.h-fh {
    height: 100px;
}

/* PADDINGS */

.ft-p {
    padding: 0 14px;
}

/* BORDERS */

.trl-b {
    border-top: 1px solid lightyellow;
    border-right: 1px solid lightyellow;
    border-left: 1px solid lightyellow;
}

.b-b {
    border-bottom: 1px solid lightyellow;
}

.div-b {
    border: 3px solid blue;
    border-radius: 20px;
    padding: 5px 25px;
}
/* OUTLINES */

.n-o {
    outline: none;
}

/* MARGINS */

.mrg-c {
    margin: 0 auto;
}

.m-r-t {
    margin-right: 2%
}

.m-f-t {
    margin-top: 5%;
}

.m-r-f {
    margin-right: 10%;
}

/* BOX-SIZING */

.bb {
    box-sizing: border-box;
}

/* FLEX BOX */
.flx {
    display: flex;
}
.flx-c {
    display: flex;
    flex-direction: column;
}

.flx-r {
    display: flex;
    flex-direction: row;
}

.fx-w {
    flex-wrap: wrap;
}

.ja-c {
    justify-content: center;
    align-items: center;
}

.j-s {
    justify-content: flex-start;
}

.j-e {
    justify-content: flex-end;
}

.a-c {
    align-items: center;
}

.a-s {
    align-items: flex-start;
}

.spc-b {
    justify-content: space-between;
}

.js-fe {
    justify-self: flex-end;
}

.f-g {
    gap: 5%;
}

.tn-g {
    gap: 10px;
}

.th-g {
    gap: 80px;
}

/* GRID BOX */
.grid {
    display: grid;
}
.two-columns {
    grid-template-columns: 1fr 1fr;
}

.three-columns {
    grid-template-columns: 7% 1fr 7%;
}

.two-rows {
    grid-template-columns: 98%;
    grid-template-rows: 80px 1fr;
}

.three-rows {
    grid-template-columns: 98%;
    grid-template-rows: 20% 60% 20%;
}

.gtips {
    grid-template-columns: 98%;
    grid-template-rows: 10% 30% 1fr;
}

.glbd {
    grid-template-columns: 98%;
    grid-template-rows: 20% 1fr;
}

/* FONTS / TEXTS */

.bn-f {
    font-family: 'Bebas Neue', cursive;
}

.xt-fs {
    font-size: 16px;
}

.tw-fs {
    font-size: 20px;
}

.ts {
    text-shadow: 1px 1px 1px black;
}

.tsl {
    text-shadow: 2px 2px 1px black;
}

.tac {
    text-align: center;
}


/* COLOURS */

.red {
    color: #ff0000;
}

.white {
    color: white
}

.purple {
    color: #6460F0;
}

/* BACKGROUNDS */

.fs-g {
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.75) 0%, rgba(255, 0, 255, 0.5) 50%, rgba(254, 180, 15, 0.75) 100%);
}

.w-bck {
    background-color: white;
}

.ly-bck {
    background-color: lightyellow;
}