{% extends 'boilerplate.html' %}

{% block script %}
<script src="static/dashboard.js" defer></script>
{% endblock %}

{% block content %}


<div class="grid three-columns">
    <div>
        <img id='logo' src="../static/images/four-sixths-tipping.png" width="75px">
    </div>
    <div class="m-r-f flx a-c j-e bn-f tw-fs ts white">
        <p class="m-r-t">LOGGED IN AS: {{ username }}</p>
        <a href="/logout">LOG OUT</a>
    </div>
    <div>
        <img id='settingsLogo' src="../static/images/settings.png" width="75px">
    </div>
</div>

{% block main %}
{% endblock %}


{% endblock %}