{% extends 'boilerplate.html' %}

{% block content %}

<div class="entire-content">
    <div class="header">
        <div>
            <img id='logo' src="../static/images/four-sixths-tipping.png" width="75px">
        </div>
        <div class="login-status-div">
            <p class="login-status">LOGGED IN AS: <span class="user">{{ username }}</span></p>
            <a href="/logout" class="logout-link">LOG OUT</a>
        </div>
        <div>
            <img id='settingsLogo' src="../static/images/settings.png" width="75px">
        </div>
    </div>
    
    {% block main %}
    {% endblock %}
</div>



{% endblock %}