<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esport Tipping</title>
    <link rel='stylesheet' href="../static/styles.css">
</head>
<body class="flx-c jst-algn-cntr">
    <header class="header ten-vh">
        <div class="flx-r spc-b full-w half-h">
            <img src="../static/images/four-sixths-logo.png">
            <h1>ESPORTS TIPPING</h1>
            <img src="../static/images/four-sixths-logo.png ">
        </div>
    </header>
    <main>

    </main>
</body>
</html>