{% extends 'base.html' %}

{% block script %}
<script src="static/base.js" defer></script>
<script src="static/dashboard.js" defer></script>
{% endblock %}

{% block main %}
<div class="grid three-rows ja-c bn-f ftpl">

    <div class="nn-h flx-c ja-c">
        <img src="../static/images/LCS.png" class="sxs-h">
        <p class="tw-fs purple">SUMMER 2022</p>
    </div>

    <div id="tips" class="nn-h flx-c ja-c white ts">

        <p class="as-s ts-fs">WEEK {{dashboard.current_week}}</p>

        <div class="nn-h f-w flx-r ja-c twh-g">
            <div class="flx-c ja-c">
                <span class="fe-fs">{{dashboard.correct_tips}}</span>
                <span class="tw-fs">CORRECT TIPS</span>
            </div>
            <div class="flx-c ja-c">
                <span class="fe-fs">{{leaderboard.season_tips}}</span> 
                <span class="tw-fs">SEASON TIPS</span>
            </div>
        </div>

        <div class="nnh flx-r fx-w j-c ac-s hf-g tplr">
            {% for tip in dashboard.current_week_tips %}
            <div class="flx-c ja-c">
                <img src="{{tip.logo}}" height="100px" class="{{tip.tip_result}}">
                <p>{{tip.abbreviation}}</p>
            </div>
            {% endfor %}
        </div>

        <div id="enterTips" class="flx ja-c">
            <p class="fs-p p-bck white ts brf">ENTER WEEK {{dashboard.upcoming_week}} TIPS</p>
        </div>
    </div>

    <div id="leaderboard" class="nn-h flx-c ja-c">
            <div class="flx-r ja-c twh-g">
                <p>{{leaderboard.position}}</p>
                <p>{{leaderboard.improvement}}</p>
            </div>
            <a class="tac">LCS LEADERBOARD</a>
        </div>
    </div>
</div>
{% endblock %}