{% extends 'base.html' %}

{% block script %}
<script src="static/base.js" defer></script>
{% endblock %}

{% block main %}
<div class="entire-leaderboard">
    <div>
        <h1 class="leaderboard-title">LEADERBOARD</h1>
        
        <div class="season-title-div">
            <img src="static/images/LCS_logo.png" height="75px">
            <span class="season-title">SUMMER 2022</span>
        </div>
    </div>
    <div class="leaderboard">
        <div id="heading" class="leaderboard-column-names">
            <span class="column-name">RANKING</span>
            <span class="column-name">POSITION CHANGE</span>
            <span class="column-name">PLAYER</span>
            <span class="column-name">TOTAL</span>
        </div>
        {% for user in data.leaderboard%}
        <div class="user-div">
            <span class="user-column-data">{{user.ranking}}</span>
            {%if user.improvement == 0%}
            <img src="static/images/grey_minus.png" height="20px" class="user-improvement-img">
            {% elif user.improvement > 0 %}
            <img src="static/images/green_triangle.png" height="20px" class="user-improvement-img">
            {% else %}
            <img src="static/images/red_triangle.png" height="20px" class="user-improvement-img">
            {% endif %}
            <span class="user-column-data">{{user.username}}</span>
            <span class="user-column-data">{{user.tip_score}}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}