{% extends "boilerplate.html" %}

{% block script %}
<script defer src="static/login.js"></script>
{% endblock %}

{% block content %}
<div class="entire-login">
    <div class="login-content-div">
        <img src="../static/images/four-sixths-tipping.png" class="login-logo">
        <div class="form-selector">
            <div id="loginDiv" class="selector-div selected">
                <p>LOG IN</p>
            </div>
            <div id="signupDiv" class="selector-div not-selected">
                <p>SIGN UP</p>
            </div>
        </div>
        <form id="userForm" action='/login' method='POST' class="user-form">
            <input name="email" type="text" placeholder="Email" class="login-input">
            <input name="password" type="password" placeholder="Password" class="login-input">
            <button type="submit" class="login-button">LOG IN</button>
        </form>
        {% if login_error %}
        <p class="login-error">INCORRECT EMAIL OR PASSWORD</p>
        {% endif %}
        {% if signup_error %}
        <p class="login-error">PASSWORDS DID NOT MATCH</p>
        {% endif %}
    </div>
</div>
{% endblock %}